body {
    background-color: #DBD0CB;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Courier New", "Courier Prime", monospace;
}

.calculator {
    background-color: #A8A172;
    border: 9px solid #989061;
    border-radius: 30px;
    box-shadow: 5px 5px 10px;
    padding: 20px;
    gap:10px;


    display: flex;
    flex-direction: column;
    width: 400px;
}


.screen {
    background-color: #333721;
    border-radius: 10px;
    gap: 10px;
    height:100px;

    color: #010701;
    display: flex;
    font-size: xxx-large;
    justify-content: end;
    align-items: center;
    padding: 10px;

    overflow-x: auto;
}

.calculator .buttons {



    display: flex;  
    flex-direction: column;
    flex: 1;
}

.calculator .buttons div {
    gap: 10px;
    justify-content: space-around;
    margin: 10px 0px;

    display: flex;
    flex: 1 0 auto;
    height: 90px;
    
}

.calculator .buttons div button {
    background-color: #CEC87D;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 6px 0px #717058;
    font-size: xx-large;
    
    flex: 1;

    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

button:active {
    transform: translateY(4px);
    box-shadow: 0 2 0 #717058;
}

.header {
    margin-bottom: 50px;
}

#clear-button {
    flex-grow: 2.28;
}

#divide-button {
    flex-grow: 1;
}

button {
    font: inherit
}